__pycache__/
package/
*.zip
.env

#rfidElement
rfidElement/.pio
rfidElement/.vscode/.browse.c_cpp.db*
rfidElement/.vscode/c_cpp_properties.json
rfidElement/.vscode/launch.json
rfidElement/.vscode/ipch
rfidElement/lib/wifi/wifiLogin.h
rfidElement/lib/mqtt/mqttLogin.h